{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">

    <div class="row">
        <div class="col-md-6" style="margin-top: 10%">
            <h3>
                BMI Tracker
            </h3>
            <p>
                Fill your assessment week by weekand track your BMI. Trainers will comment on your progress and encourage you to keep going.
            </p>
        </div>
        <div class="col-md-6">

            <img src="images/about.jpg" alt="Image" height="60%">

        </div>
    </div>


</section>
