{{> menu id="goal"}}


<section class="ui segment">
    <div class="row" style="padding: 2%">
        <div class="col-md-3">

            <i class="fa fa-user fa-3x" style="margin-left: 10%"></i>
            <br>
            <p>{{user.firstName}} {{user.lastName}}</p>

        </div>
    </div>
</section>
{{> addGoal}}
{{> listGoals}}

